<!-- a generic index page for the site -->
<html>
<head>
    <title>Home</title>
<!--?    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>-->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<!-- a header for the page -->
<header>
    <h1>Home</h1>
    <p>Here is some content for the home page</p>
</header>
<!-- the main content of the page -->

{% if items %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type='text/javascript'>
    var people = {{ items_json|safe }};
  </script>

  <div id="app">
    [[message]]

    <ul>
      <li v-for="person in people">
        <a v-bind:href="person.url" class="bg-red-300">[[ person.name ]]</a> <button v-on:click="greet(person.name)">hey</button>
      </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          message: 'Hello Vue!',
          people: people,
      },
      methods: {
          greet: function(name) {
              console.log('Hello from ' + name + '!')
          }
      }
    });
  </script>
{% else %}
  <p>No items available.</p>
{% endif %}

<!-- a footer for the page -->
<footer>
    <p>Here is the footer</p>
</footer>
</body>
</html>